/* General Content */
.content {
  margin-top: 16px;
}

/* Cards */
.card.card-post {
  padding: 8px;
  margin-bottom: 16px;
}

/* Navbar */
.nav-link {
  font-size: 1.5em;
}

/* Post */
.post-content {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 8px;
}
