{% extends 'base.html' %}

{% block content %}

<script>
  function removePost(post_id) {
    fetch('/delete-post/' + post_id, {
      method:'DELETE',
      body: []
    }).then (function (response) {
      console.log("DELETED");
      window.location.href = "/"
    })
  }
</script>

<div class = "view-post">

  <button onClick = "removePost({{post_data.id}})" class = "btn float-right btn-danger">X Remove</button>
  <br>

  <div class = "post-content">
    {{content}}
  </div>

  <a class = "btn btn-primary" href = "/"> Go Back</a>
</div>

{% endblock %}
